@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'creamCake';
  src: url('../../public/font/Cream\ Cake.otf') format('opentype');
}
@font-face {
  font-family: 'poppins';
  src: url('../../public/font/poppins-extrabold.ttf') format('truetype');
}


@layer base {
  :root {
    --mainColor: #fef2f2;
    --secondColor: #450a0a;
  }
  .theme-reverse {
    --mainColor: #450a0a;
    --secondColor: #fef2f2;
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
  overflow-x: hidden;
}


.container {
  overscroll-behavior: none;
  width: 600%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;

}

.panel {
  width: 100vw;
  height: 100%;
  position: relative;
}





.min-vw-100 {
  min-width: 100vw;
}
