@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'creamCake';
  src: url('/font/Cream\ Cake.otf');
}
@font-face {
  font-family: 'poppins';
  src: url('/font/poppins-extrabold.ttf');
}

@layer base {
  :root {
    --mainColor: #fef2f2;
    --secondColor: #450a0a;
  }
  .theme-reverse {
    --mainColor: #450a0a;
    --secondColor: #fef2f2;
  }
}


body {
  overflow-x: hidden; 
}

