@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --textColor: #fef2f2;
    --backgroundColor: #450a0a;
  }

  .theme-reverse {
    --textColor: #450a0a;
    --backgroundColor: #fef2f2;
  }
}


body {
  overflow-x: hidden; 
  font-family: 'Russo One', sans-serif;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 

